
<div class="card">
  <table class="table table-sm">
    <% items.forEach(item => { %>
      <tr>
        <%# Label %>
        <td class="td-stacked-label"><%= item.label %></td>

        <%# Value with set up for easy copy to clipboard %>
        <td class="td-stacked-value">
          <span class="copy"><%= item.value %></span>

          <%# Optional external link to URL %>
          <% if (item.url) { %>
            <a href="<%- item.value %>" target="_blank"> <i class="fa fa-external-link"></i></a>
          <% } %>
        </td>
      </tr>
    <% }) %>
  </table>
</div>
<br/>
